<% include ../partials/header %>

<style>

#texto{
    font-size: 17px;
}

.jumbotron{
    background-color: white;
}

#cita{
    margin-top: 50%;
    color: black;
    text-align: center;
    margin-bottom: 10%    
}

</style>

<div class="container">
    <h1 id="titulo">¿Quienes somos?</h1>
    <div class="jumbotron">
        <p id="texto">Somos un estudio de creativos que busca la distinción de tu producto o servicio dentro del mercado competitivo. Nuestro objetivo es comunicar  la esencia de tu empresa ó marca potenciando los atributos y empatizando con el cliente a través de su imágen y estilo de vida que se ofrece, donde  generas distinción y preferencia entre la competencia a través de medios físicos y virtuales. <br>
                Tu cliente se sentirá identificado, cómodo y buscará ser leal a tu marca en su consumo.</p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
            <img class="img-thumbnail" src="/brand/logo/anna.jpg">  
        </div>
        
        <div class="col-md-6 col-sm-6 col-6">
             <h2 id="cita">“Si no es una marca, es una mercancía.” <br>
                    -Philip Kotler-</h2>
        </div>
    </div>
</div>




<% include ../partials/footer %>