<% include ../partials/header %>

<style>

li{
    font-size: 20px;
}

#servicios{
    margin-top: 5%;
}

.container{
    margin-bottom: 10%;
}

.sticky-footer {
    background: #e5e5e5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #e5e5e5;
    z-index: 10;
    transform: translateZ(0);
}

</style>

<div class="container">
    <h1>Servicios</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Nuestros servicios.</h3>
            <ul>
                <li>Imágen corporativa.</li> <br>
                <li>Desarrollo de producto.</li> <br>
                <li>Imágen y presentación de producto.</li><br>
                <li>Diseño de interiores en tienda.</li><br>
                <li>Sitio web.</li><br>
                <li>Creación de redes sociales y contenido digital.</li><br>
                <li>Uniformes para personal.</li><br>
                <li>Stands.</li><br>
                <li>Artículos promocionales.</li><br>
            </ul>
        </div>

        <div class="col-md-6">
            <img class="img-thumbnail" id="servicios" src="/brand/logo/servicios.jpg">
        </div>
    </div>
</div>

<div class="jumbotron"></div>

<div class="sticky-footer">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 col-6">
                    <p><i class="fab fa-whatsapp"></i> (55) 7912 2638</p> 
                    <p><i class="fab fa-whatsapp"></i> (55) 2128 1177</p> 
                </div>
                <div class="col-md-6 col-6">
                    <p><i class="fas fa-phone-volume"></i> (55) 7912 2638</p>
                    <p><i class="fas fa-phone-volume"></i> (55) 2128 1177</p>
                </div>
            </div>    
        </div>

        <div class="col-md-6">
            <p><i class="fas fa-envelope"></i> contacto@gourou.com.mx</p>
        </div>
    </div>
</div>


<% include ../partials/footer %>