<% include ../partials/header %>

<style>
.sticky-footer {
    background: #e5e5e5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #e5e5e5;
    z-index: 10;
    transform: translateZ(0);
}
</style>

<div class="container">
    <h1>Contact치nos</h1> 
    <p>Llena el formulario y en breve te contactaremos al correo electronico proporcionado</p>   
</div>


<div class="container">
    <!-- <div class="row">

       
    </div> -->
    <div class="jumbotron">
        <form class="ui form" action="/contacto" method="POST">
            <h4 class="ui dividing header">Informaci칩n de contacto</h4>
            <div class="two fields">
                <div class="field">
                    <label>Nombre(s)</label>
                    <input type="text" name="data[name]" placeholder="Nombre">
                </div>
                <div class="field">
                    <label>Apellido(s)</label>
                    <input type="text" name="data[lastName]" placeholder="Apellidos">
                </div>
            </div>
            <div class="field">
                <label>Cuenta de correo electr칩nico</label>
                <input type="email" name="data[email]" placeholder="correo electr칩nico">
            </div>
            <div class="field">
                <label>Dejanos un comentario</label>
                <textarea name="data[comment]" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-info btn-lg">Enviar</button>
        </form>
    </div>  
</div>

<div class="sticky-footer">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 col-6">
                        <p><i class="fab fa-whatsapp"></i> (55) 7912 2638</p> 
                        <p><i class="fab fa-whatsapp"></i> (55) 2128 1177</p> 
                    </div>
                    <div class="col-md-6 col-6">
                        <p><i class="fas fa-phone-volume"></i> (55) 7912 2638</p>
                        <p><i class="fas fa-phone-volume"></i> (55) 2128 1177</p>
                    </div>
                </div>    
            </div>
    
            <div class="col-md-6">
                <p><i class="fas fa-envelope"></i> contacto@gourou.com.mx</p>
            </div>
        </div>
    </div>

<% include ../partials/footer %>