<% include partials/header %>

<style>

.imgHeader{
    margin-bottom: 0%;
    background: url("/brand/logo/foto.barra.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.imgAbajo{
    margin-top: 0%;
    background: url("/brand/logo/nigga.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#titulo{
    font-size: 70px;
    color: white;
}

#slogan{
    color: white;
}

#nigga{
    font-size: 40px;
    color: white;
    margin-left: 40%;
    margin-top: 25%;
    text-shadow: -5px -5px 5px #aaa;
}

span{
    font-size: 40px;
}
</style>

<div class="jumbotron imgHeader">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <h1 id="titulo">GOUROU <span>branding studio</span></h1>   
                <h2 id="slogan">Hacemos de tu empresa una experiencia</h2>
            </div>
        </div>   
    </div>
</div>

<div class="jumbotron imgAbajo">
    <div>
        <h1 id="nigga">Tu marca en armonía con el cliente</h1>
    </div>
</div>

<% include partials/footer %>

<!-- https://images.unsplash.com/photo-1495240013514-62e89ff5a164?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5b07634656a80de27a01b244c45858e0&auto=format&fit=crop&w=1350&q=80 -->